.header-bar {
  position: fixed;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
  //box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.15);
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  //border-bottom: 1px solid rgb(234, 236, 239);
  //padding: 10px 20px;
  &__title {
    //font-weight: 600;
    display: none;
    font-size: 2.5rem;
  }
  &__hamburger {
    display: flex;
    & svg {
      fill: #2c3e50;
    }
  }
  &__controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include lg() {
      flex-grow: 1;
      justify-content: space-between;
    }
  }
  &__right-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: .8rem;
    @include lg() {
      margin-left: 0;
    }
    & > div {
      margin-right: .8rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include lg() {
    height: 5rem;
    border-bottom: .1rem solid #eaecef;
    &__hamburger {
      display: none;
    }
    &__title {
      display: block;
    }
  }
}
