// transition
.header-bar, .page-content, select {
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sidebar {
  transition: background-color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 2s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform .3s cubic-bezier(0.4, 0, 0, 1);
}
// dark mode
.dark-mode {
  .watches {
    &__background {
      background-color: green;
    }
    &__hour-hand, &__center, &__second-hand, &__minute-hand {
      background-color: #212121;
    }
  }
  .base-switch__input:checked + .base-switch__slider {
    background-color: green!important;
  }
  .sidebar, .header-bar, .page-content {
    background-color: #212121;
    border-color: #E0E0E0;
    select {
      background-color: #212121;
      color: #E0E0E0;
    }
    span, h1, h2, a:not(.learning__article-card), ul {
      color: #E0E0E0;
    }
    svg.star-icon--active {
      fill: green;
    }
    .sk-folding-cube .sk-cube:before {
      background-color: #E0E0E0;
    }
  }
  .header-bar__hamburger svg {
    fill: #E0E0E0;
  }
  .todos__item-controls button {
    color: #E0E0E0;
  }
}